# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
Packages
*.suo

# mstest test results
TestResults
MVC4/PersonaMVC4Example/App_Data/aspnet-PersonaMVC4Example-20120928074626.mdf
MVC4/PersonaMVC4Example/App_Data/aspnet-PersonaMVC4Example-20120928074626_log.ldf
